:root {
    --defaultShadow: drop-shadow(0px 0px 5px black);
}
@font-face {
    font-family: moonlightning;
    src: url(fonts/Moonlightning.otf);
}

html {
    background-color: rgb(137, 0, 0);
    scroll-behavior: smooth;
    text-align: center;
    color: red;
    
}
h1 {
    font-family: moonlightning;
    font-size: 4.5vw;
    text-transform: uppercase;
}

/*
#
# IMAGES
#
*/

.headerImage {
    width:30%;
    float:center;
    text-align: center;
    margin-top:8%;
    margin-left:32%;
    margin-right:30%;
    margin-bottom:11%;
}
.portfolio {
    width: 15%;
    vertical-align: middle;
    border-radius:1vw;
    margin-left:0.75%;
    margin-right:0.75%;
    margin-bottom:0.75%;
    margin-top:0.75%;
    transition-duration: 250ms;
}
.portfolio:hover {
    width: 30%;
    transition-duration: 250ms;
}
.banner {
    width:30%;
    vertical-align: middle;
    border-radius:1vw;
    margin-left:0.75%;
    margin-right:0.75%;
    margin-bottom:0.75%;
    margin-top:0.75%;
    transition-duration: 250ms;
}
.banner:hover {
    width:40%;
}
.logo {
    width:20%;
    vertical-align: middle;
    border-radius:1vw;
    margin-left:0.75%;
    margin-right:0.75%;
    margin-bottom:0.75%;
    margin-top:0.75%;
    transition-duration: 250ms;
}
.logo:hover {
    width:35%;
}

/*
#
# POSITIONS
#
*/

.buttonBottomRight {
    position:fixed;
    bottom:-50;
    right:-30;
}

/*
#
# GLOBAL
#
*/

/* These apply transitions to everything, in theory */
.transition {
    transition-duration:250ms;
}
.transition:hover {
    transition-duration:250ms;
}

.trueShadow {
    filter:drop-shadow(0 0 1vw black);
}
.stroke {
    -webkit-text-stroke: 0.1vw black;
    -webkit-text-fill-color: red;
}

.false {
    opacity: 0;
    transition-duration:250ms;
}
.true {
    opacity: 1;
    transition-duration:250ms;
}