.portfolio {
    text-align: center;
}
.header {
    opacity: 0.15;
    font-size: 35px;
    margin-bottom: 30px;
}

.thumbnail {
    width:36.5%;
    margin:5px;
    vertical-align: middle;
    border-radius: 10px;
    transition-duration: 250ms;
}
.thumbnail:hover {
    width:45%;
    margin:10px;
    border-radius:5px;
    transition-duration: 250ms;
}

.logo {
    width: 18%;
    margin:5px;
    vertical-align: middle;
    border-radius: 20px;
    transition-duration: 250ms;
}
.logo:hover {
    width:25%;
    margin:10px;
    border-radius:15px;
    transition-duration:250ms;
}

.twitter-banner {
    width:55%;
    margin:5px;
    vertical-align: middle;
    border-radius: 20px;
    transition-duration:250ms;
}
.twitter-banner:hover {
    width:60%;
    margin:10px;
    border-radius: 10px;
    transition-duration:250ms;
}

.youtube-banner {
    width: 76%;
    margin: 10px;
    border-radius:20px;
    transition-duration:250ms;
}
.youtube-banner:hover {
    width: 85%;
    margin: 15px;
    border-radius:10px;
    transition-duration:250ms;
}

#contact {
    text-align: center;
}
.contact-area {
    overflow:hidden;
    width:80%;
    margin: 0 auto;
}
.contact-image {
    width: 7%;
    display:inline;
    vertical-align: middle;
}
.contact-image-mobile {
    width: 35%;
    display:inline;
    vertical-align: middle;
}
.link-parent {
    float: left;
    width:33%;
    box-sizing:border-box;
    padding: 10px;
    transition-duration: 250ms;
}
.link-parent:hover {
    opacity:0.5;
    transition-duration:250ms;
}

@media screen and (orientation:portrait) {
    #contact[type="desktop"] {
        display:none;
    }
    #contact[type="mobile"] {
        display:block;
    }
}
@media screen and (orientation:landscape) {
    #contact[type="desktop"] {
        display:block;
    }
    #contact[type="mobile"] {
        display:none;
    }
}

