:root {
    --background-main: #000000;
    --background-secondary: #3f3f3f;
    --default-text: #ffffff;
}

@font-face {
    font-family:'Marvin Round';
    src: url('../fonts/MarvinRound.otf');
}

html {
    font-family: 'Marvin Round', sans-serif;
    background-color: var(--background-main);
    color: var(--default-text);
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
.symbol {
    display: inline;
}
.symbol.icon {
    font-family:cursive !important;
    font-weight:bolder;
}

.align {
    display: inline-block !important;
}


a {
    color: var(--default-text);
    text-decoration: none;
    transition-duration: 250ms;
}

#copyright {
    position: absolute;
    bottom:0;
    width:60%;
    left:20%;
    right:20%;
}