:root {
    --background-main: #000000;
    --background-secondary: #3f3f3f;
    --default-text: #ffffff;
}

@font-face {
    font-family:'Marvin Round';
    src: url('../fonts/MarvinRound.otf');
}
@font-face {
    font-family:'Comic Sans';
    src: url('../fonts/ComicSans.ttf');
}
@font-face {
    font-family:'Comic Sans Italic';
    src: url('../fonts/ComicSansItalic.ttf');
}
@font-face {
    font-family:'Comic Sans Bold';
    src: url('../fonts/ComicSansBold.ttf');
}

html {
    font-family: 'Marvin Round', sans-serif;
    background-color: var(--background-main);
    color: var(--default-text);
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
.symbol {
    display: inline;
}
.symbol.icon {
    font-family:'Comic Sans Bold', sans-serif !important;
    font-weight:bolder;
}

.align {
    display: inline-block !important;
}


a {
    color: var(--default-text);
    text-decoration: none;
    transition-duration: 250ms;
}

#copyright {
    text-align: center;
}