#featured  {
    text-align:center;
}
.featuredThumbnail {
    width:25vw;
    margin-left:1vw;
    margin-right:1vw;
    border-radius:0.5vw;
    text-align: center;
    transition-duration:250ms;
}
.featuredThumbnail:hover {
    width:35vw;
    /* transform:scale(1.5,1.5); */
    transition-duration:250ms;
}
.header {
    font-size:3.5vw;
    font-weight: bold;
}