:root {
    width: auto; /* DEBUG LINE TO REMOVE ERROR */
}
html {
    font-family: sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x:hidden;
}
a {
    color: white;
}

.background {
    background-color: white;
    margin-left:-1vw;
    margin-right:-1vw;
    margin-bottom:-1vw;
}

.button {
    width:20vw;
    height:15vh;
    border-radius: 20vw;
    font-size:2.5vw;
    transition-duration:250ms;
}
.button:hover {
    opacity: 0.8;
    transform:scale(1.2,1.2);
    transition-duration:250ms;
    cursor:pointer;
}

.active {
    opacity:1;
    transition-duration: 250ms;
}
.inactive {
    opacity:0;
    transition-duration: 250ms;
}

.copyright {
    color: black;
    text-align: center;
}